<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing Google Search with different keywords">
	<listeners>
		<listener
			class-name="com.digy4.java.testng.Digy4TestNGSupport"></listener>
	</listeners>

	<test name="Page Object Model using By and TestNG"
		parallel="methods" thread-count="10">
		<classes>
			<class name="quickstart.Tests.DemoTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->